@use "../../sass/components/colors" as c;

.layout-wrapper {
  height: 100%;
  header,
  footer {
    min-height: 60px;
    background: c.$lightColor;
  }

  main {
    border-top: 2px solid c.$lightColor;
    border-bottom: 2px solid c.$lightColor;
    overflow-y: scroll;
  }
}

.active-navlink {
  font-weight: 800;
}

.page-bottom {
  // border-top: 2px solid c.$lightColor;
  margin-top: 140px;
}
